[user]
name = Keunbae Park
email = ppotpo@gmail.com
[color]
ui = auto
[merge]
confilctstyle = diff3
[core]
editor = vim -f
excludesfile = /Users/keunbae/.gitignore_global
[credetial]
helper = cache
[push]
default = simple
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[alias]
# https://tomschlick.com/2017/03/20/git-forget
# https://jeffkreeftmeijer.com/git-git/
forget="! git fetch --prune && git branch -vv | awk '/: gone]/ {print $1}' | xargs git branch -D"
update="! BRANCH=${1:-development}; git checkout $BRANCH && git pull && git checkout - && git rebase $BRANCH"
new="! git init -q && git add . && git commit -q -m 'init' && gh repo create ${PWD##*/} --public -s=. -r=origin && git push -u origin master"
sync = !/home/y/.local/bin/legit sync
publish = !/home/y/.local/bin/legit publish
undo = !/home/y/.local/bin/legit undo
branches = !/home/y/.local/bin/legit branches
